@charset "UTF-8";

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

body{
    background-image:url(/img.jpeg/fotobody.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
}

.cabecalho{
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    width: 100%;
    
}

@media screen and (max-wdith: 1040px) {
    .cabecalho{
        flex-direction: column;
    }
}


.logo{
    border-radius: 50%;
    width: 100px;
    
}
.titulos{
    display: flex; 
    justify-content: space-between;
    list-style: none;
    text-align: left;
    text-decoration: none; 
}

li a{
    color:#800000
}


.menu{
    display: flex;
  font-size: 20px;
  justify-content: space-between;
  list-style: none;
  width: 150px;
}

.fundo{
    background-color:#DB7093
}

.capa{
    top: 0.5px;
left: 1px;
width: 100%;
height: 377px;
border: 1px solid #707070;
opacity: 1;

}

.avatar__imagem{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: 320px;
    right: 50%;
    opacity: 1;
}

.github{
    width: 4%;
    position: absolute;
    top: 588px;
    right: 60%;
}

.linkedin{
    width: 4%;
    position: absolute;
    top: 588px;
    right: 55%;
}

.nome{
    margin-left: 850px;
    top: 500px;
    right: 30%;
}

.apresentacao{
    margin-left: 850px;
    top: 500px;
    right: 30%;
}

.formacao{
    border: solid ;
    color:#800000;   
    text-align:center;
    



}

.trabalhos{
    background-color:#8FD8D2;
    color: #DF744A;
    text-align: center;
}

.projeto{
    color: #800000;


}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.caixa{
    background-color:#800000;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px;
    width: 300px;
    /* margin-left: 40%; */
    
}

.img{
    width: 100%;
    height: 120px;
}

.botao{
    background-color: #8FD8D2;
    cursor: pointer;
    border-radius: 4px;
    border-color:#ffffff;
    font-family: sans-serif;
    text-decoration: none;
}

.botao:hover{
    background-color: #ffffff;

}

.fundoFooter{
    background-color:#DB7093;
    /* border:solid */
    
}

.contact{

    color: #ffffff;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    width:30% ;
}

.formulario label{
    color: #ffffff;
    font-size: 10px;
    
}

.formulario input{
    background-color:transparent ;
    border: 1px solid;
    border-radius: 5px;
    color:#ffffff;
    font-size: 13px;
    margin-bottom: 8px;

}

.formulario textarea{
    background-color:transparent ;
    border: 1px solid;
    border-radius: 5px;
    color:#ffffff;
    font-size: 13px;
    margin-bottom: 10px;
}

.formulario button{
    background-color: #8FD8D2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 8px;
    padding: 5px 10px;
    width: fit-content;
}

.formulario button:hover{
    background-color: #ffffff;
}

.margem{
    margin-left: 30%; 
}
